<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}

  </h1>
 	<span>{{ points }}</span>

  <button (click)='plus1()'>click</button>
  <button (click)='rest()'> reset</button>
  </div>
  